// breaking points

@mixin sm {
    @media all and (min-width: 576px) {
        @content;
    };
};

@mixin md {
    @media all and (min-width: 768px) {
        @content;
    };
};

@mixin lg {
    @media all and (min-width: 992px) {
        @content;
    };
};

@mixin xl {
    @media all and (min-width: 1200px) {
        @content;
    };
};

@mixin xxl {
    @media all and (min-width: 1440px) {
        @content;
    };
};


// links
@mixin links-style ($color:map-get($map: $color-txt, $key: main)) {
    a {
        text-decoration: none;
        color: $color;
    };

    a:visited, a[href^='mailto'] {
        color: $color;
    };
};


// lists
@mixin list-style {
    list-style-type: none;
    margin: 0;
    padding: 0;
};


// background and text colors
@mixin color-bg-txt($element) {
    background-color: map-get($map: $color-bg, $key: $element);
    color: map-get($map: $color-txt, $key: $element);
};


// container size
@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
};


// layout

@mixin flexbox($direction, $wrap, $justify-content, $align-items) {
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    justify-content: $justify-content;
    align-items:$align-items;
};

@mixin position($position, $top, $right, $bottom, $left) {
    position: $position;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
};


// elements style

// forms

@mixin form {
    @include flexbox(column, wrap, center, center);
    @include size(80%, auto);
    max-width: 520px;
    margin: auto;
    margin-top: 50px;

    form {
        @include flexbox(column, nowrap, center, flex-start);
        @include size(100%, auto);
        margin: 0 0 50px 0;

        div {
            @include size(100%, auto);
            margin: 0 0 10px 0;
        };

        input {
            @include size(100%, 35px);
            @include form-field;
        };

        p {
            font-size: map-get($font-size, field-constraints);
            font-style: italic;
        };
    };
};

@mixin form-field {
    font-family: $montserrat;
    font-size: map-get($map: $font-size, $key: input);
    margin: 3px 0 3px 0;
    padding: 5px;
    border: solid 1px $color-secondary;
};

@mixin form-errors {
    @include flexbox(column, nowrap, space-around, center);
    max-width: 80%;
    margin: auto;
    margin-bottom: 30px;
    padding: 10px;
    border: solid 1px $color-primary-dark;

    p {
        font-style: normal;
        font-size: 1rem;
        vertical-align: middle;
        text-align: center;
        color: $color-primary-dark;
        margin: 5px 0 5px 0;
    };

    ul {
        @include list-style;
    };

    li {
        font-size: 0.9rem;
        padding: 0 0 0 10px;
    };
};


// links

@mixin underlined($thickness, $offset) {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-thickness: $thickness;
    text-underline-offset: $offset;
};

@mixin link-login-signup {
    text-align: center;
    margin: 50px 0 80px 0;
    transition: all 200ms ease-in-out;

    &:hover {
        @include underlined(2px, 5px);
    };
};

@mixin menu-hover {
    @include underlined(2px, 5px);

    a {
        color: $color-primary-dark;
    };
;}


// buttons

// basics
@mixin btn ($width: 150px){
    @include flexbox(row, nowrap, center, center);
    margin: auto;
    border: none;

    input {
        text-transform: uppercase;
        font-weight: 700;
        font-size: map-get($font-size, btn);
        @include size($width, auto);
        padding: 10px;
        border-radius: 30px;
        transition: all 200ms ease-in-out;

        &:hover {
            @include underlined(2px, 5px);
        };
    };
};

// specifics

@mixin btn-login-signup {
    padding: 50px 0 0 0;

    input {
        border: solid 2px $color-basic-dark;
        @include color-bg-txt(btn-login-signup);

        &:hover {
            @include color-bg-txt(btn-login-signup-hover);
        };
    };
};

@mixin btn-new-post-comm {
    input {
        border: solid 2px $color-basic-dark;
        @include color-bg-txt(btn-new-post-comm);

        &:hover {
            border: solid 2px $color-primary-dark;
            @include color-bg-txt(btn-new-post-comm-hover);
        };
    };
};

@mixin btn-edit-profile {

    @include lg {
        order: 2;
    };

    input {
        border: solid 2px $color-basic-dark;
        @include color-bg-txt(btn-edit-profile);

        &:hover {
            @include color-bg-txt(btn-edit-profile-hover);
            border: solid 2px $color-primary-dark;
        };
    };
};

@mixin btn-save-profile {
    input {
        border: solid 2px $color-basic-dark;
        @include color-bg-txt(btn-save-profile);

        &:hover {
            @include color-bg-txt(btn-save-profile-hover);
        };
    };
};

@mixin btn-undo {
    input {
        border: solid 2px $color-basic-dark;
        @include color-bg-txt(btn-undo);

        &:hover {
            @include color-bg-txt(btn-undo-hover);
        };
    };
};

@mixin btn-delete-account {
    input {
        border: solid 2px $color-primary-dark;
        @include color-bg-txt(btn-delete-account);

        &:hover {
            @include color-bg-txt(btn-delete-account-hover);
        };
    };
};


// fixed menu

// main
@mixin main {
    @include flexbox(column, wrap, center, center);
    @include position(relative, auto, auto, auto, auto);
    @include size(100%, auto);

    @include lg {
        @include flexbox(row, nowrap, space-around, flex-start);
    };

    main {
        @include size(100%, auto);
    };
};

// page
@mixin page {
    @include size(100%, auto);
    margin: auto;

    @include lg {
        @include position(absolute, 0, auto, auto, 250px);
        @include size(calc(100% - 250px), auto);
    };

    @include xxl {
        @include size(80%, auto);
    };

    h1 {
        font-size: map-get($font-size, h1);
        font-weight: 600;
        text-align: center;
        background-color: $color-basic-light;
        @include position(fixed, 129px, 0, auto, 0);
        z-index: 10;
        @include size(100%, auto);
        max-width: 1440px;
        padding: 20px 0 15px 0;
        border-bottom: solid 1px $color-secondary;

        @include lg {
            @include position(fixed, 0, 0, auto, 250px);
            @include size(auto, auto);
            border-left: solid 1px $color-secondary;
        };

        @include xxl {
            @include position(fixed, 0, calc(50% - 470px), auto, calc(50% - 470px));
            @include size(100%, auto);
            max-width: 1152px;
        };
    };
};


//first element under h1
@mixin first-under-h1 {
    margin: 194px 0 0 0;
    border-bottom: solid 1px $color-secondary;

    @include lg {
        margin: 61px 0 0 0;
        border-left: solid 1px $color-secondary;
    }
};


// no results / access denied messages

@mixin no-results {
    text-align: center;
    color: $color-primary-dark;
    @include size (80%, auto);
    margin: 35px 0 50px 0;
    padding: 50px 20px 50px 20px;
    border-top: solid 1px $color-secondary;
    border-bottom: solid 1px $color-secondary;

    p {
        @include size (100%, auto);
    };
};


@mixin access-denied {
    text-align: center;
    color: $color-primary-dark;
    @include size (80%, auto);
    padding: 100px 20px 50px 20px;
    border-top: solid 1px $color-secondary;
    border-bottom: solid 1px $color-secondary;

    p {
        @include size (100%, auto);
    };

    @include xxl {
        @include size(80%, auto);
    };
};

@mixin access-denied-posts {
    margin: 194px 0 0 0;

    @include lg {
        @include position(absolute, 0, auto, auto, 250px);
        @include size(calc(100% - 250px), auto);
        margin: 61px 0 0 0;
        border-left: none;
    };
};

@mixin access-denied-forums {
    margin: auto;
};


// user photo
@mixin user-photo {
    @include size(50px);
    margin: 0 15px 0 0;
    padding: 1px;
    border: solid 1px $color-basic-dark;
    border-radius: 50%;
    transition: all 200ms ease-in-out;

    &:hover {
        padding: 0;
        border: solid 2px $color-primary-dark; 
    };

    img {
        @include size(100%);
        object-fit: cover;
        border-radius: 50%;
    };
};


// user pseudo
@mixin user-pseudo {
    font-size: map-get($font-size, user-pseudo);
    margin: 0 5px 0 0;
    transition: all 200ms ease-in-out;

    p {
        color: $color-primary-dark;

        &:hover {
            @include underlined(1px, 4px);
            color: $color-primary-dark;
        };
    };
};


// post images

// image
@mixin post-img {
    @include flexbox(row, nowrap, center, center);
    max-width: 600px;
    margin: auto;

    img {
        max-width: 100%;
        object-fit: cover;
        margin: 5px 0 0 0;
    };
};

// enlarge image
@mixin enlarge-img {
    &__img {
        cursor: pointer;
        transition: 300ms ease-in-out;

        &:hover {
            opacity: 0.7;
        };
    };

    #modal-img { // On id rather than class to override browser default style
        display: none; // hidden by default
        cursor: pointer;
    };

    .modal {
        background-color: rgba(0, 0, 0 , 0.9);
        overflow: auto; // enable scroll if needed
        @include flexbox(row, nowrap, center, center);
        @include position(fixed, 0, 0, 0, 0);
        z-index: 100;
        width: 100%;
        height: 100%;

        img {
            @include flexbox(row, nowrap, center, center);
            max-width: 100%;
            margin: auto;            
            animation: zoom 500ms;
        }
    };

    @keyframes zoom {
        from { transform: scale(0) }
        to { transform: scale(1) }
    };
};


// like btn
@mixin btn-like-count {
    color: $color-secondary-dark;
    @include flexbox(row, nowrap, space-around, baseline);
    max-width: 600px;
    margin: auto;

    &__btn {
        @include flexbox(row, nowrap, center, center);
        padding : 5px 20px 0 20px;
        transition: all 200ms ease-in-out;

        i {
            padding: 10px;
            border-radius: 50%;
        };

        &:hover {
            cursor: pointer;
            color: $color-primary-dark;

            i {
                background-color: $color-primary-light;
            };
        };
    };

    &__count {
        @include flexbox(row, nowrap, flex-start, center);
        transition: all 200ms ease-in-out;

        p {
            color: $color-secondary-dark;

            &:hover {
                @include underlined(1px, 4px);
                color: $color-primary-dark;
            };
        };
    };
};


// delete post or comment

@mixin delete-post-comment {
    font-size: map-get($font-size, delete-X);
    color: $color-secondary;

    &:hover {
        cursor: pointer;
        color: $color-secondary-dark;
    };
};
